.App {
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}




.todo-label{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;


}

.todo-true{
  height: 15px;
  width: 15px;
  background: #000;
  float: left;
  margin: 15px;
}

.todo-false{
  height: 15px;
  width: 15px;
  background: red;
  float: left;
  margin: 15px;
}